# # Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# # dependencies
# node_modules/

# # Expo
# .expo/
# dist/
# web-build/
# expo-env.d.ts

# # Native
# .kotlin/
# *.orig.*
# *.jks
# *.p8
# *.p12
# *.key
# *.mobileprovision

# # Metro
# .metro-health-check*

# # debug
# npm-debug.*
# yarn-debug.*
# yarn-error.*

# # macOS
# .DS_Store
# *.pem

# # local env files
# .env*.local

# # typescript
# *.tsbuildinfo

# app-example

# # generated native folders
# /ios
# /android


# Node
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Expo / React Native
.expo/
.expo-shared/
web-build/
dist/
*.expo.js
*.expo.ts
expo-env.d.ts

# Metro bundler
.metro-health-check*

# Native iOS
ios/Pods/
ios/build/
*.xcodeproj/
*.xcworkspace/
*.xcuserstate
*.xcscheme
*.jks
*.p12
*.p8
*.key
*.mobileprovision

# Native Android
android/.gradle/
android/build/
android/app/build/
*.keystore
*.orig.*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store
*.pem

# Env files
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# Generated / Example
app-example/

# VSCode
.vscode/
.history/

# Misc
*.log
